@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(111, 140, 228);
  font-family: "Poppins-Regular";
}

#root {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
}

/* HEADER */
.header {
  display: grid;
  justify-items: center;
  text-align: center;
}

/* GAME TABLE */
.game-table {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  gap: 1.5rem;
}

/* SCOREBOARD */
.scoreboard {
  background-color: white;
  border: 3px solid black;
  width: 300px;
  display: flex;
  padding: 1.2rem;
  justify-content: space-around;
  border-radius: 10px;
}

/* CARDS */
.cards__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  place-content: center;
  max-width: 1000px;
}
.card {
  width: 150px;
  height: 180px;
  background-color: rgb(255, 243, 165);
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 5px 5px black;
  display: grid;
  place-content: center;
  overflow: hidden;
}
.card img {
  transform: scale(1.8);
}
.card:hover {
  background-color: rgb(153, 236, 152);
  cursor: pointer;
}
.card:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}
